
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|PT+Sans:400,700|Quicksand:400,700|Raleway:400,700,800&display=swap');


.txt{
	background-color: lightgrey;
}

p, section, article, aside, nav, div{
    box-sizing: border-box;
} 

.main{
    width : 60%;
    margin : 50px auto;
    background-color: white;
    opacity: 0.92;
}
body {
    background-color:  lavender;
    background-size: cover;
}

header {
    padding-top : 20px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

.divers li:nth-child(2n), .centre li:nth-child(2n),.centreT li:nth-child(2n){
    background-color: lavender;
}
.divers li{
    padding: 2px;
}

.centre span, .centreT span {
    vertical-align: top;
    display: inline-block;
    width : 70%;
    box-sizing: border-box;
    padding : 2px;
}

ul{
    list-style-type: none;
    padding: 10px;
}

header img{
    border-radius: 50%;
}

img{
    width : 50%;
}


header aside{
    flex-basis : 30%;
    text-align: center;
}

header span {
    font-family: Montserrat, 'PT+Sans', sans-serif;
    font-weight: 700;
    color : firebrick;
}

header li{
    font-family: Raleway, sans-serif;
    color : darkblue;
}

.divers h2, .centre h2,  .centreT h2{
    color : #F5ECCE;
    background-color: #08298A;
    font-family: sans-serif;
    padding-left: 1%;
    position : relative;
}

.divers{
    width : 30%;
    display : inline-block;
    vertical-align: top;
    padding : 2%;
    font-family: Quicksand,sans-serif;
}

.centre{
    padding : 2%;
    display : inline-block;
    vertical-align: top;
    width : 69%;
}
.centre a, .centreT a{
    width : 100%;
	text-decoration:none;
}


.centreT{
    padding : 2%;
    display : inline-block;
    vertical-align: top;
    width : 100%;
}

.comp article{
    display : inline-block;
    vertical-align: top;
    text-align: center;
    width : calc(100% / 3 - 0.5%);
}

.comp img{
    width : 80%;
}

.flip-container {
	perspective: 1000px;
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 92%;
	height: 280px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	background-color: lightgrey;
	border-style: solid;
	border-color: black;
	position: absolute;
	border-radius: 10px;

}
.front {
	transform: rotateY(0deg);
    text-align: center;
}

.back {
	transform: rotateY(180deg);
}


.scene {
  margin: 40px 0;
  position: relative;
  width: 68%;
  max-width: 200px;
  height: 80px;
  margin: 40px auto;
  perspective: 1000px;
}


.droit ul, .milieu ul {
  list-style-type: none;
  margin-right: -30px;
  padding: 8px 16 px;
  width: 200px;
  background-color: lightgrey;
}

.droit li a, .milieu li a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.droit li a:hover, .milieu li a:hover {
  background-color: darkgray;
  color: white;
}

/****************************************/


.infodiv{
    width: 100%;
}

.tiers{
	display: inline-block;
	width:32%;
	vertical-align: top;
}
.exp{
	margin-left: 10%;
}

.suiv, .prec{
	width: 15%;
	text-decoration: none;
	
}
.suiv{
	float: right;
	margin-right: 4%;
}
.prec{
	float: left;
}
.demis{
	width: 49%;
	display: inline-block;
    vertical-align: text-top;
}
.pasdepoint{
    list-style-type: none;
}
/****************carroussel***********************/

.scene {
  width: 100%;
  max-width: 40%;
  margin: 40px auto;
}

.carousel {
  width: 100%;
  transform-style: preserve-3d;
}

.carousel__cell {
  position: absolute;
  width: 100%;
  height: 45px;
  left: 5%;
  border: 2px solid black;
  text-align: center;
  font-size :12px;
  
}

.carousel__cell:nth-child(2n+1) {
	background: lightgrey;
}
.carousel__cell:nth-child(2n){
	background:  navajowhite;
}


/****************************************/
@media screen and (min-width: 1200px) {
    .carousel__cell{
        max-width: 300px;
    }
    .carousel__cell:nth-child(1) { 
         transform: rotateY(  0deg) translateZ(300px);
    }
    .carousel__cell:nth-child(2) { 
         transform: rotateY( 60deg) translateZ(300px);
    }
    .carousel__cell:nth-child(3) { 
         transform: rotateY(120deg) translateZ(300px);
    }
    .carousel__cell:nth-child(4) { 
         transform: rotateY(180deg) translateZ(300px);
    }
    .carousel__cell:nth-child(5) { 
         transform: rotateY(240deg) translateZ(300px);
    }
    .carousel__cell:nth-child(6) { 
         transform: rotateY(300deg) translateZ(300px);
    }
    
    
    
    
    
}
@media screen and (max-width: 1200px) and (min-width: 600px) {
    .carousel__cell{
        max-width: 190px;
    }
    .carousel__cell:nth-child(1) { 
         transform: rotateY(  0deg) translateZ(185px);
    }
    .carousel__cell:nth-child(2) { 
         transform: rotateY( 60deg) translateZ(185px);
    }
    .carousel__cell:nth-child(3) { 
         transform: rotateY(120deg) translateZ(185px);
    }
    .carousel__cell:nth-child(4) { 
         transform: rotateY(180deg) translateZ(185px);
    }
    .carousel__cell:nth-child(5) { 
         transform: rotateY(240deg) translateZ(185px);
    }
    .carousel__cell:nth-child(6) { 
         transform: rotateY(300deg) translateZ(185px);
    }
    
    
    
}
@media screen and (max-width: 600px) {
    .carousel__cell{
        font-size: 10%;
    }
    .carousel__cell:nth-child(1) { 
         transform: rotateY(  0deg) translateZ(120px);
    }
    .carousel__cell:nth-child(2) { 
         transform: rotateY( 60deg) translateZ(120px);
    }
    .carousel__cell:nth-child(3) { 
         transform: rotateY(120deg) translateZ(120px);
    }
    .carousel__cell:nth-child(4) { 
         transform: rotateY(180deg) translateZ(120px);
    }
    .carousel__cell:nth-child(5) { 
         transform: rotateY(240deg) translateZ(120px);
    }
    .carousel__cell:nth-child(6) { 
         transform: rotateY(300deg) translateZ(120px);
    }
}
/****************************************/
.carousel {
  animation: spin 55s infinite linear;
}

@keyframes spin {
  from { transform: rotateY(0); }
  to { transform: rotateY(360deg); }
}
